* {
    --primary: #134880;
    --gray: #dddddd
}
body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
}
h1 {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--primary);
}
p {
    margin: 0;
}
header {
    background-color: #dddddd;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: var(--primary);
}
footer {
    background-color: #dddddd;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color: var(--primary);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    width: 60%;
    min-height: 500px;
}
.slider {
    align-self: center;
    position: absolute;
    left: 0;
    width: 60%;
}
.side-text {
    width: 28%;
    padding: 20px;
}
.top-images {
    display: flex;
    flex-direction: row;
    padding: 5px;
    overflow: hidden;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom-images {
    display: flex;
    flex-direction: row;
    padding: 5px;
    overflow: hidden;
    width: 90%;
}
.image {
    width: auto;
    height: 200px;
    margin: 0 4px;
    border-radius: 10px;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0 10px 120px;
}
.btn {
    cursor: pointer;
    background-color: #fff;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    margin: 5px 0;
    height: 50px;
    width: 50px;
    font-size: 2rem;
}
.btn:hover:enabled {
    background-color: var(--primary);
    color: #fff;
}
.btn:disabled {
    cursor: unset;
    color: var(--gray);
    border-color: var(--gray);
}